@media screen and (min-width: 1025px) {
    /* 基本CSS */
    body {
        background-color: lightyellow;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 24px;
        color: black;
    }
    h1 {
        font-size: 45px;
        color: violet;
        text-align: center;
    }
    h2 {
        font-size: 36px;
        color: black;
        text-align: left;
    }
    .item {
        background: blanchedalmond;
        text-align: center;
        margin: 5px;
        padding: 25px;
    }
    img {
        height: 210px;
        width: 315px;
        position: relative;
        text-align: center;
    }
    .container {
        display: grid;
        justify-content: center;
        grid-template-columns: 420px 420px;
        margin: auto;
    }
}


@media screen and (min-width: 720px) and (max-width: 1024px) {
    /* 基本CSS */
    body {
        background-color: lightyellow;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 24px;
        color: black;
    }
    h1 {
        font-size: 40px;
        color: violet;
        text-align: center;
    }
    h2 {
        font-size: 30px;
        color: black;
        text-align: left;
    }
    .item {
        background: blanchedalmond;
        text-align: center;
        margin: 5px;
        padding: 25px;
    }
    img {
        height: 200px;
        width: 300px;
        position: relative;
        text-align: center;
    }
    .container {
        display: grid;
        justify-content: center;
        grid-template-columns: 350px 350px;
        margin: auto;
    }
}


@media screen and (max-width: 719px) {
    /* 基本CSS */
    body {
        background-color: lightyellow;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 24px;
        color: black;
    }
    h1 {
        font-size: 30px;
        color: violet;
        text-align: center;
    }
    h2 {
        font-size: 20px;
        color: black;
        text-align: left;
    }
    .item {
        background: blanchedalmond;
        text-align: center;
        margin: 5px;
        padding: 25px;
    }
    img {
        height: 200px;
        width: 300px;
        position: relative;
        text-align: center;
    }
    .container {
        display: grid;
        justify-content: center;
        grid-template-columns: 350px;
        margin: auto;
    }
}